@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


.image-fill{
    background: url("https://doe.cusat.ac.in/images/blog/default/dept.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

label{
    font-family: 'Poppins', sans-serif;
}

input{
    font-family: 'Poppins', sans-serif;
    font-size: 0.95rem !important;
    color: rgb(51, 50, 50) !important;
    border-color: rgb(0, 0, 0) !important;
}

input:focus{
    box-shadow: none !important;
}

.login-title{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600 !important;
}

button{
    font-family: 'Poppins', sans-serif !important;
}